rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isGlobalAdmin() {
      return isSignedIn() && request.auth.token.role == 'admin';
    }

    function isWhitelisted() {
      let cfg = get(/databases/$(database)/documents/access_control/whitelist).data;
      return isSignedIn() &&
             request.auth.token.email.lower() in cfg.emails;
    }

    function isSystemUser() {
      return isSignedIn() && (isWhitelisted() || isGlobalAdmin());
    }

    function isHouseholdMember(householdId) {
      let household = get(/databases/$(database)/documents/households/$(householdId));
      return request.auth.uid in household.data.members &&
             household.data.members[request.auth.uid].role in ['owner', 'admin', 'member'];
    }

    function isHouseholdAdmin(householdId) {
      let household = get(/databases/$(database)/documents/households/$(householdId));
      return request.auth.uid in household.data.members &&
             household.data.members[request.auth.uid].role in ['owner', 'admin'];
    }

    match /access_control/{docId} {
      allow read: if isSystemUser() || isGlobalAdmin();
      allow write: if isGlobalAdmin();
    }

    match /users/{userId} {
      allow read: if isSystemUser();
      allow write: if isSystemUser() && request.auth.uid == userId;
    }

    match /households/{householdId} {
      allow read: if isSystemUser();
      allow update: if isSystemUser() && isHouseholdAdmin(householdId);

      allow create: if isGlobalAdmin();
      allow delete: if isGlobalAdmin();

      // ---- Subcollections ----
      match /{allSubcollections=**} {
        allow read: if isGlobalAdmin() || (isSystemUser() && isHouseholdMember(householdId));
        allow write: if isGlobalAdmin() || (isSystemUser() && isHouseholdAdmin(householdId));
      }
    }
  }
}
