rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Deny all read and write access
    match /{document=**} {
      allow read, write: if false;
    }

    function isAdmin() {
      return request.auth.uid == 'rnSCoxeAl0bmc9NQeHSzFR5gYUB3' ;
    }

    match /test_connection/ping {
      allow get: if request.auth != null;
    }

    match /households/{householdId} {
      allow read, write: if request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if request.auth != null;
    }

    match /transactions/{transactionId} {
      allow read, write: if request.auth != null;
    }
  }
}